<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<form th:action="@{/pproyecciones/update}" method="post"
				th:object="${pr}">

				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text" required
						th:field="*{idProyeccion}" class="form-control"></input>
				</div>
				
				<div class="col-sm-12">
					<label class="form-label">Detalles de la proyección: </label> <input type="text"
						required th:field="*{textoDetallesProyeccion}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Fecha de proyección futura: </label> <input
						type="date" required th:field="*{dateFuturaProyeccion}"
						min="2022-01-01" class="form-control"></input>
				</div>


				<div class="col-sm-12">
					<input type="submit" value="Actualizar" class="btn btn-dark"></input>
				</div>

			</form>
		</div>
	</div>
</body>
</html>